.elements__like {
   background-image: url(../../../images/like.svg);
   background-color: transparent;
   border: none;
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   width: 22px;
   height: 19px;
   padding: 0;
   cursor: pointer;
   transition: opacity 0.5s ease;
}

.elements__like:hover {
opacity: 0.5;
}